{% extends 'base.html.twig' %}

{% block title %}Hello NavigationController!{% endblock %}

{% block body %}
    <section id="articlepage">
        <div class="container">
            <div class="card-container">
                <div class="card">
                    <div class="card-content">
                        <div class="card-image">
                            <img src="{{ asset('uploads/images/' ~ masque.imageName) }}" alt="Image du masque">
                        </div>
                        <div class="card-title">
                            <h2>{{ masque.name }}</h2>
                        </div>
                        <div class="card-body">
                            {% if masque.description != null %}
                                <p class="type">Description :</p>
                                <p>{{ masque.description }}</p>
                            {% endif %}
                            {% if masque.price != null %}
                                <p class="type">Prix approximatif : </p>
                                <p>{{ masque.price }} €</p>
                            {% endif %}
                            {% if masque.colors != null %}
                            <p class="type">Couleurs :</p>
                            <p>
                                {% for color in masque.colors %}
                                    {{ color.name }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            {% endif %}
                        </div>
                        
                        <div class="card-option">
                            {% if is_granted('ROLE_USER')%}
                                {% if app.user.id == masque.user.id %}
                                    <a href="{{path('masque_modify',{'id' : masque.id})}}">Modifier</a>
                                    <form method="POST" action="{{ path('masque_delete', {'id': masque.id}) }}">
                                        <input type="hidden" name="_method" value="delete">
                                        <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ masque.id)}}">
                                        <input type="submit" id="delete" value="Supprimer">
                                    </form>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-commentaries">
                        <div>
                            <h3>Commentaires :</h3>
                            {% for commentarie in masque.commentaries %}
                                <div class="commentary">
                                    <p><strong>{{ commentarie.user.username }} :</strong></p>
                                    <p class="commentary-end">{{ commentarie.content }}</p>
                                </div>
                            {% endfor %}

                            {% if is_granted('ROLE_USER')%}
                                {{ form(form) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
