{% extends 'base.html.twig' %}

{% block title %}{{ isModification ? 'Modifier un masque' :  'Ajouter un masque' }}{% endblock %}

{% block body %}
	<section id="addpage">
		<div class="container">
				<div class="container-form">
					<h1> {{ isModification ? 'Modifier le masque' :  'Ajouter un masque' }}</h1>
					
					{{form_start(form)}}
						{{form_widget(form)}}
						<button>{{ isModification ? 'Modifier' :  'Ajouter' }}</button>
					{{form_end(form)}}

					{{form_start(formcolors)}}
						{{form_widget(formcolors)}}
					{{form_end(formcolors)}}
	  			</div>
			</div>
	</section>

{% endblock %}
